USE [f1_race]
GO
/****** Object:  Table [dbo].[Formula1_Racing] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Formula1_Racing](
	[Season] [varchar](50) NULL,
	[Race_Name] [varchar](50) NULL,
	[Country] [varchar](50) NULL,
	[Date] [varchar](50) NULL,
	[Driver_ID] [varchar](50) NULL,
	[Driver_Name] [varchar](50) NULL,
	[Team] [varchar](50) NULL,
	[Position] [varchar](50) NULL,
	[Laps_Completed] [varchar](50) NULL,
	[Lap_Time_Avg] [varchar](50) NULL,
	[Total_Time] [varchar](50) NULL,
	[Pit_Stops] [varchar](50) NULL,
	[Fastest_Lap] [varchar](50) NULL,
	[Weather_Conditions] [varchar](50) NULL,
	[Grid_Start_Position] [varchar](50) NULL,
	[Points] [varchar](50) NULL,
	[Penalties] [varchar](50) NULL
) ON [PRIMARY]
GO
